<%="currentPage is"+currentPage%><br>
<%="totalRecord is"+totalRecord%><br>
<%="pageSize is"+pageSize%><br>
<%="totalPage is"+totalPage%><br>
<%="blockSize is"+blockSize%><br>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
    <style>
        a{
            text-decoration: none;
        }
        .numStyle{
            font-size: 25px;
            color: #9b4f90;
        }
    </style>
</head>
<body>
    <table align="center" border="1px" width="100%">
        <thead>
            <caption>My List</caption>
        </thead>
        <tbody>
            <tr>
                <th width="5%">NO</th>
                <th width="15%">작성자</th>
                <th width="60%">제목</th>
                <th width="15%">작성일</th>
                <th width="5%">조회수</th>
            </tr>
            <% for(var i=0; i< pageSize; i++){ %>
            <%if(num<1)break%>
            <tr>
                <td><%=num %></td>
                <td>이민정</td>
                <td>안녕하세요</td>
                <td>2018.08.04</td>
                <td>20</td>
            </tr>
            <%num--;%>
            <%}%>

        </tbody>
        <tfoot>
            <tr>
                <td colspan="5" align="center">

                    <%if(firstPage-1 > 1){//더 볼게 있다면%>
                    <a href="/list?currentPage=<%=firstPage-1%>">◀</a>
                    <%}else{%>
                    <a href="javascript:alert('처음페이지입니다.')">◀</a>
                    <%}%>

                    <%for(var i=firstPage;i<= lastPage; i++){%>
                    <%if(i>totalPage)break;%>
                    <a <%if(currentPage == i){%>class="numStyle"<%}%> href="/list?currentPage=<%=i%>">[<%=i%>]</a>
                    <%}%>
                    <%if(lastPage+1 < totalPage){//더 볼게 있다면%>
                    <a href="/list?currentPage=<%=lastPage+1%>">▶</a>
                    <%}else{%>
                    <a href="javascript:alert('마지막페이지입니다.')">▶</a>
                    <%}%>
                </td>
            </tr>
        </tfoot>
    </table>
</body>
</html>