<!-- list.ejs 내용은 그대로 유지 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Visit List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h1>My Visit List</h1>
    <a>글쓰기</a>
    <table border="1">
        <tr>
            <td>번호</td>
            <td>산이름</td>
            <td>장소</td>
            <td>높이</td>
            <td>설명</td>
        </tr>
        <% for(var i=0; i<rows.length; i++) {
            var data = rows[i];
        %>
        <tr>
            <td><%= data.list_number %></td>
            <td><%= data.mountain_name %></td>
            <td><%= data.place %></td>
            <td><%= data.height %></td>
            <td><%= data.description %></td>
        </tr>
        <% } %>
    </table>
</body>
</html>
